/* styles.css */

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 2rem 0;
    text-align: center;
}

h1 {
    color: #333;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 5px;
}

.controls label,
.stats-item .label {
    margin-right: 5px;
    margin-left: 5px;
}

.start,
.reset,
.power-up {
    margin-right: 10px
}

.game_board {
    display: grid;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(2);
    margin: 15px;
    text-align: center;
}

.card {
    position: relative;
    perspective: 800px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 100%;
}

.front_face,
.back_face {
    width: 100%;
    height: 100%;
    object-fit: contain;
    backface-visibility: hidden;
}

.front_face {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.back_face {
    transform: rotateY(0);
    transition: transform 0.5s;
}

.card.flip .front_face {
    transform: rotateY(0);
}

.card.flip .back_face {
    transform: rotateY(180deg);
}

.card.matched {
    cursor: default;
}

.game-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-item {
    margin-right: 1.5rem;
}

.stats-item .label {
    margin-right: 0.3rem;
}

.theme-default {
    background-color: #f2f2f2;
    color: #333;
}

.theme-dark {
    background-color: #333;
    color: #f2f2f2;
}

.theme-light {
    background-color: #f2f2f2;
    color: #333;
}

.flip-back {
    animation: flipBack 0.75s;
}

h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 150px;
}